<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/a.ico">
    <link rel="stylesheet" href="/style/style.css">
    <title>Clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <p>En la serie de televisión, durante la sexta temporada, Clarke es capturada y "asesinada" por Russell y Simone Lightbourne. Su memoria es completamente eliminada, y es reemplazada por una inteligencia artificial que tiene la mente de Josephine Ada Lightbourne.</p>
    <h5>(disculpe profe fue para romper la seriedad)</h5>
    <img src="/imagenes/clarke.jpg" alt="">
    <li><a href="//localhost:3030">HOME</a></li>
</body>
</html>