<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/a.ico">
    <link rel="stylesheet" href="/style/style.css">
    
    <title>Hamilton</title>
    <style>
        body{
            justify-content: center;
            
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Margaret Hamilton, la programadora que nos llevó a la luna.</h1>
    <p>
     <b></b>  “La única opción era ser pioneros”</b>: Margaret Hamilton fue una de las programadoras clave en el desarrollo del software que llevó (y trajo) a los primeros seres humanos a la luna. Es una de las pioneras en el campo de la ingeniería de software y su trabajo sentó las bases del diseño de software ultraconfiable. En apenas dos años pasó de programadora junior a programadora jefe del software de navegación de los cohetes de las misiones Apolo.</p>
     <div class = "primerfoto"> <img id="img-center" src="/imagenes/h1.jpg" alt=""></div> 
    <p>Margaret Hamilton no había pensado en dedicarse a la informática. Nacida en 1936, cuando llegó a la universidad ni siquiera existía esa carrera en Estados Unidos. De hecho por entonces solo había un sitio en todo el mundo, Cambridge, en el que se podía estudiar como tal. A Hamilton lo que le gustaba desde pequeña eran las matemáticas y fue en lo que se graduó. Su especialidad secundaria (“minor”) fue filosofía. El plan de Hamilton era hacer un doctorado en matemáticas abstractas, pero antes hizo una pausa para casarse, tener una niña y trabajar para mantener a su familia mientras su marido estudiaba derecho.</p>
    <div class = "segundafoto"><img src="/imagenes/h2.jpg" alt=""></div> 
<p>En 1959, a los 23 años, comenzó a trabajar en el Instituto Tecnológico de Massachussets (MIT), en el laboratorio de Edward Lorenz. Lorenz es el padre de la “teoría del caos” (¿os suena “el efecto mariposa”?) y estaba investigando un sistema de predicción metereológica. Lorenz era un apasionado del software y se lo pegó a Hamilton. Fue allí donde Hamilton aprendió a programar y hasta acabó diseñando un minisistema operativo. En aquella época era como uno se metía en la informática, empezando a trabajar y aprendiendo de otros. De la predicción del tiempo pasó a la detección de aviones enemigos, creando aplicaciones para rádar. Lo hacía en lenguaje ensamblador con una de las máquinas más grandes que se habían montado nunca (el primer AN/FSQ-7).

    En 1963 vio una oferta de trabajo que cambiaría su vida: se buscaban programadores para… ¡diseñar el software para los cohetes que llevarían a los primeros seres humanos a la luna! No se lo pensó dos veces y en 24 horas Hamilton había conseguido el trabajo. Se convertía en la primera persona contratada para programar los ordenadores de la misiones Apolo.</p>

<h2>Programando para la NASA</h2>
<p>Con 27 años y unos 4 de experiencia con código, Hamilton era considerada aún una programadora junior. Como tal, le asignaron la parte del código que pensaban menos importante, la que se usaría solo en caso de tener que abortar una misión. Hamilton apodó al programa “olvídalo”. Sin embargo, después de que una misión (no tripulada) se tuviera que abortar, el conocimiento de Hamilton pasó a ser mucho más relevante de la noche a la mañana.</p>
<div class = "ultimafoto"> <img src="/imagenes/h3.jpg" alt=""></div> 
<li><a href="//localhost:3030">HOME</a></li>
</body>
</html>